
/* 사용자 임의로 간격을 조절하기 위해 각 태그별 기본 설정값을 0으로 초기화 
   (단, 글꼴에 관련된 값은 주석처리 
-  초기화 시 css태그의 전역변수로 지정을 해야하는 번거로움이 생김. ) */
html,  div, span, applet, object, iframe,
/* h1, h2, h3, h4, h5, h6, b, u, i,*/p, blockquote, pre,
a, abbr, acronym, address, body, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
