:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.sidebar-overlay {
  position: fixed;
  top: 4px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  background-color: #F9F5EA;
  padding: 15px;
  display: flex;
  flex-direction: column;
  font-family: Pretendard, var(--default-font-family);
  border: 0.1px solid #999999;
  border-top-right-radius: 20px;
  overflow-y: auto;
}

.logo-container {
  display: flex;
  align-items: center;
  margin: -5px 0 -10px;
  height: 60px;
}
.logo-icon {
  width: 70px;
  height: 70px;
}

.momentours-logo {
  width: 50px;
  height: 68px;
  margin-left: -5px;
}

.momentours {
  font-family: 'Oooh Baby', cursive;
  font-size: 26px;
  color: #000000;
}

.menu-container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;  
  margin-right: 15px;
}

.menu-item {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  margin: -5px 5px 10px -5px;
  padding:  7px 32px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-item a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.menu-item2 {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  margin: -5px 5px -5px -5px;
  padding: 17px 32px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-item2 a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.menu-item2:hover {
  background-color: #C5B697;
  color: #FFFFFF;
}

.menu-item:hover {
  background-color: #C5B697;
  color: #FFFFFF;
}

.pages {
  font-size: 12px;
  font-weight: 700;
  color: #202224;
  opacity: 0.6;
  margin: 5px 0 20px 0;
}

.sidebar_divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 9px 0 20px 0;
}